@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    @apply max-w-xs sm:max-w-md md:max-w-2xl lg:max-w-6xl m-auto;
  }

  .sec-head {
    @apply oswald font-semibold text-[40px];
  }

  .theme-color {
    @apply text-[#45D279];
  }
}

.inter {
  font-family: "Inter", sans-serif;
}

.oswald {
  font-family: "Oswald", sans-serif;
}
.Vue-Toastification__toast {
  font-family: "Inter", sans-serif !important;
}

/* Dropdown Button */
.btn {
  background-color: white;
  color: #0a1833;
  //padding: 16px;
  border: none;
  outline: none;
}

.btnMobile {
  background-color: white;
  color: #0a1833;
  //padding: 16px;
  border: none;
  outline: none;
  font-size: 10px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: absolute;
  display: inline-block;
}

.dropdownMobile {
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdownMobile:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.btn:hover,
.dropdown:hover .btn {
  background-color: #7efcfc;
}

.dropdownMobile:hover .btnMobile {
  background-color: #7efcfc;
}
